.timer {
    width: 700px;
    background: rgb(68, 68, 68);
    margin: 0 auto;
    padding: 2vh;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
  }
  
  .field {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    text-align: center;
  }
  .value {
    min-width: 15vh;
    color: whitesmoke;
    font-size: 15vh;
  }
  .label {
    min-width: 5vh;
    color: rgb(0, 0, 0);
    font-size: 5vh;
  }